<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<body>
    <h1>資産トップ</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">トップ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cf">家計</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">資産</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">口座</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">分析</a>
                </li>
            </ul>

        </div>
    </nav>

    
</body>

</html>